{% extends 'base.html' %}


{% block title %}Home - My Blog{% endblock title %}


{% block content %}
<h1>Post</h1>


<ul>
  {% for post in object_list %}
  <li>
    <a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a> - <a href="{% url 'category' post.category|slugify %}">{{ post.category}}</a>- {{ post.author.first_name }} {{ post.author.last_name }} <br />
    {{ post.body|slice:":100"|safe}}
    <br />

    {% if user.is_authenticated %}
    <a href="{% url 'update_post' post.pk %}" class="btn btn-link">Edit</a>
    <a href="{% url 'delete_post' post.pk %}" class="btn btn-link">Delete</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% endblock content %}
